@media (max-width: 899px) {
    
    /*Header*/

    .container {
        width: 100%;
    }

    .header-top {
        width: 100%;
    }

    .header-content {
        width: 100%;
    }

    .header-title {
        font-size: 42px;
        line-height: 1;
    }

    .header-content p {
        font-size: 20px;
    }

    /*Main*/

    .main {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .main-row {
        margin-bottom: 60px;
    }

    .main-row:first-of-type {
        flex-direction: row-reverse;
    }

    .main-content {
        width: 100%;
    }

    .main-header {
        font-size: 42px;
    }

    .main-content-text {
        font-size: 16px;
    }

    .main-content-button {
        padding-left: 30px;
        padding-right: 30px;
        height: 46px;
        font-size: 18px;
        line-height: 46px;
    }

    .main-img {
        flex-shrink: 0;
        margin-right: 30px;
        width: 170px;
    }

    .main-img img {
        height: 100%;
        object-fit: cover;
    }

    /*Footer*/

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer-row {
        flex-wrap: wrap;
    }

    .footer-copyright {
        order: 1;
        width: auto;
    }

    .footer-widgets-wrapper {
        margin-bottom: 50px;
        width: 100%;
    }

    .footer-widgets-wrapper > .footer-widget, .footer-widget:first-child {
        width: calc(50% - 15px);
    }

}